<html>
<H1>Python workshop 2019</H1>
<br> <img src="../static/resized_iem_eng_logo_new.svg" alt="IEM logo" width="276" height="101"> <br>
<p> Please report bugs to <a href="mailto://cnoam@technion.ac.il">Noam</a>
    <br>
and best is to <a href="https://github.com/noam1023/technion-iem-ds_lab/issues">open an issue</a>
</p>
<br>

<a href="./submit/lab/9"><b>submit</b> your code </a>

<br><br>
<br>
Check the <a href="./leaderboard/9"> leaderboard </a> to see who got the best score
(only correct and finished jobs will appear here ) <br>

Check the running/completed/failed <a href="./jobs">job list </a><br>
</html>