<html>
<H1>Automatic homework checker</H1>
<br> This system is under development. <br>
<p> Please report bugs to <a href="mailto://cnoam@technion.ac.il">Noam</a> </p>
<br>
<p>To submit an exercise use the format <i>this_host_name</i>/submit/hw/<i>exercise_number</i></p>
or<br>
<i>this_host_name</i>/submit/lab/<i>exercise_number</i>

e.g.
<a href="http://homework-tester.westeurope.cloudapp.azure.com/submit/hw/3">http://homework-tester.westeurope.cloudapp.azure.com/submit/hw/3</a>

<br><br>
<b>New!</b><br>
Check the <a href="./leaderboard"> leaderboard </a> to see who got the best times (only correct and finished jobs will appear here ) <br>
Check the running/completed/failed <a href="./jobs">job list </a><br>
</html>