<!doctype html>
<html>
<body>
    <title>Upload your submission</title>
    <h1>Upload your submission to the tester</h1>
    <p>Use zip file containing your data and python code</p>
    <br>
<br>
    You are limited to 3 submissions. The best score of the 3 is saved.<br>
    Only successful runs are counted, meaning  failed runs will not count against the limit.<br> <br>
    If you want to see the server's code: <a href="https://github.com/noam1023/technion-iem-ds_lab/tree/workshop">here</a><br>
    <br>
    The code to run and score your submission is <a href=https://github.com/noam1023/technion-iem-ds_lab/blob/f1cebbf55190e894b4822007664fc929ce498bbd/tester_ex9.py#L33 >here.</a>
    <br>  <br>
    Currently there are {{num_jobs_running}} jobs running.<br>
    <br><br>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
</body>
</html>