<html>
{% with messages = get_flashed_messages() %}
   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}

<H1>Checker Admin Page </H1>
<body>
Upload config file
<form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

<hr>
<!--  add message that will appear as header in pages seen by users -->
<form action="" method="post">
    <input type="text" cols= 80 style="width:200px; height:50px;"  placeholder="{{motd}}" name="motd" value="{{request.form.motd_header }}">
    <input class="btn btn-default" type="submit" name="set" value="send MOTD">
    <input class="btn btn-default" type="submit" name="reset" value="Clear">
</form>

<hr>
<a href="./">HOME</a><br>
<a href="./spark/local_job_list">get local spark jobs list</a><br>
<a href="./spark/jobs">get the real spark jobs list</a><br>
<br><br><a href="./spark/clear_job_list"><strong>drop spark jobs table</strong></a><br><br>
<br><br><a href="./spark/purge_running_jobs">
    <p style="color:red;">
        <strong>PURGE ALL spark jobs (no warnings)
        </strong>
    </p>
</a><br><br>

<a href="./jobs_as_csv">get the jobs as CSV file</a>
<a href="./admin/show_ex_config"> show ex configuration</a><br>
<a href="./logout"> LOGOUT</a>
</body>
</html>
