<html>
<head>
    <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: whitesmoke;
   color: darkblue;
   text-align: center;
}
</style>
</head>
<H1>Automatic homework checker</H1>


{% if motd is not none %}
    <hr><p style="color: crimson">{{ motd }}</p> <hr><br>
{% endif %}

<br> This system is under development. <br>
<p> Please report bugs to <a href="mailto://cnoam@technion.ac.il">Noam</a> </p>
<br>
To submit an exercise use the format <b><i>host_name</i>/course_number/submit/hw/<i>exercise_number</i></b></p>
<br>
Example:<br>
To submit ex 0 in course 094219: <b>http://homework-tester.westeurope.cloudapp.azure.com/94219/submit/hw/0</b>
<br><br>
{%  if running_locally %}

<a href="http://localhost:8000/94219/submit/hw/1">local submission for debug</a>
{%  else %}
    e.g.
<a href="http://homework-tester.westeurope.cloudapp.azure.com/94219/submit/hw/3">http://homework-tester.westeurope.cloudapp.azure.com/94219/submit/hw/3</a>
{% endif %}

<br><br>
<br>
Some courses have a leaderboard of best results. Try something like "94210/leaderboard"<br>
Check the <a href="./94210/leaderboard"> leaderboard </a> to see who got the best times (only correct and finished jobs will appear here ) <br>
Check the running/completed/failed <a href="./jobs">job list </a><br>

<hr>
<a href="./login" >LOGIN</a>
<a href="./admin" >admin page</a>
<a href="https://github.com/noam1023/technion-iem-ds_lab">source code of the server</a>

<div class="footer">
    {{footer}}
</div>
</html>